@charset "UTF-8";
h1 {
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #222222;
  font-size: 25px;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #fff;
  font-style: normal;
  font-size: 16px;
  line-height: calc(20 / 16 * 100%);
}

@media (min-width: 661px) {
  h3 {
    font-size: 20px;
    line-height: calc(36 / 20 * 100%);
  }
}

h4 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #222222;
  font-style: normal;
  line-height: calc(32 / 14 * 100%);
  text-transform: uppercase;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.hidden {
  display: none !important;
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -ms-grid-rows: 1fr 1fr minmax(975px, auto);
  -ms-grid-columns: 1fr;
      grid-template: 1fr 1fr minmax(975px, auto)/1fr;
}

.red {
  color: #f16d7f;
}

.bold {
  font-weight: 900;
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #f16d7f;
}

.link:hover {
  color: #f16d7f;
}

.btn_red {
  background: #fff;
  color: #f16d7f;
  border: none;
  border: 1px solid #f16d7f;
  -webkit-transition: ease color, background 0.9s;
  -o-transition: ease color, background 0.9s;
  transition: ease color, background 0.9s;
}

.btn_red:not(:hover) {
  background: #f16d7f;
  color: white;
  -webkit-transition: ease color, background 1.9s;
  -o-transition: ease color, background 1.9s;
  transition: ease color, background 1.9s;
}

.btn_red-social {
  background: #f16d7f;
  color: white;
  border: none;
  -webkit-transition: ease color, background 0.9s;
  -o-transition: ease color, background 0.9s;
  transition: ease color, background 0.9s;
}

.btn_red-social:not(:hover) {
  background: #fff;
  color: #b2b2b2;
  -webkit-transition: ease color, background 1.9s;
  -o-transition: ease color, background 1.9s;
  transition: ease color, background 1.9s;
}

.btn_red-social:active:hover {
  background: #eeeeee;
  color: #d6d6d6;
}

.list_dwn::after {
  content: "";
  position: absolute;
  color: inherit;
  right: 7px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  display: block;
  pointer-events: all;
  cursor: pointer;
  width: 0;
  height: 0;
  top: 55%;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  right: 15px;
}

.list_dwn:hover::after {
  content: "";
  position: absolute;
  color: inherit;
  right: 7px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  display: block;
  pointer-events: all;
  cursor: pointer;
  width: 0;
  height: 0;
  top: 55%;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #f16d7f transparent transparent transparent;
  right: 15px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  width: 59px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 8px;
}

.logo p {
  display: inline-block;
  margin-top: 7px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #222222;
  font-style: normal;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 32px;
}

.basket {
  padding: 20px 0px;
  position: relative;
}

.basket__image {
  width: 32px;
  height: 29px;
  margin-right: 25px;
}

.basket__cart-menu:hover .cart-menu {
  display: block;
}

.basket__productCounter {
  background-color: #f16d7f;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basket__productCounter span {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #fff;
  font-style: normal;
  font-size: 12px;
}

.basket:hover .cart-menu {
  display: block;
}

.cart-menu {
  display: none;
  z-index: 200;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  top: 65px;
  right: 32.875px;
  width: 263px;
  padding: 15px 0px 15px 0px;
}

.cart-menu__box {
  padding: 15px;
  max-height: 300px;
  overflow: scroll;
}

.cart-menu__items {
  margin-top: -15px;
}

.cart-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px 30px 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 15px 0;
}

.cart-menu__item:hover p {
  color: #f16d7f;
}

.cart-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cart-menu__left {
  width: 100%;
}

.cart-menu__left img {
  -o-object-position: top;
     object-position: top;
}

.cart-menu__mid {
  width: 100%;
  padding: 0px 0px 10px 15px;
}

.cart-menu__mid p {
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #222222;
  font-size: 12px;
  line-height: calc(10 / 12 * 100%);
  text-transform: uppercase;
}

.cart-menu__rate {
  display: inline-block;
  font-size: 0;
  margin: 10px 0;
}

.cart-menu__rate span {
  padding: 0;
  font-size: 11px;
  line-height: 1;
  color: lightgrey;
}

.cart-menu__rate > span:before {
  content: '★';
}

.cart-menu__rate > span.active {
  color: gold;
}

.cart-menu__price {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #f16d7f;
  font-style: normal;
  font-size: 12px;
  line-height: calc(10 / 12 * 100%);
}

.cart-menu__sum {
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #222222;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-menu__btns {
  margin-top: 31px;
}

.cart-menu::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: -8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  background-color: #fff;
  position: absolute;
  right: 65.75px;
}

@media (min-width: 768px) {
  .cart-menu::before {
    right: 131.5px;
  }
}

.btns__item {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(26 / 14 * 100%);
  font-family: "Lato";
  color: #222222;
  height: 50px;
  max-width: 225px;
  text-align: center;
  line-height: calc(16 / 14 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px 5px;
}

.btn_red-cart {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-transition: ease color, border 0.9s;
  -o-transition: ease color, border 0.9s;
  transition: ease color, border 0.9s;
}

.btn_red-cart:not(:hover) {
  background: #fff;
  color: #a4a4a4;
  border: 1px solid #e6e6e6;
  -webkit-transition: ease color, border 1.9s;
  -o-transition: ease color, border 1.9s;
  transition: ease color, border 1.9s;
}

.header {
  padding-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr minmax(52px, 1fr);
  -ms-grid-columns: 1fr minmax(300px, 1140px) 1fr;
      grid-template: 0fr minmax(52px, 1fr)/1fr minmax(300px, 1140px) 1fr;
      grid-template-areas: ". top ." ". nav .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top {
  display: -ms-grid;
  display: grid;
      grid-template: 1fr/minmax(60px, auto) minmax(0fr, auto) 1fr minmax(70px, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
}

.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header summary {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(26 / 14 * 100%);
  font-family: "Lato";
  color: #222222;
  font-size: 16px;
  line-height: calc(36 / 16 * 100%);
  cursor: pointer;
  direction: rtl;
}

.header summary::marker {
  display: none;
  color: #4e4e4e;
}

.header__browse {
  display: block;
  width: 147px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  padding: 0 13px 0 13px;
  margin-left: 15px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #222222;
  font-style: normal;
  position: relative;
}

@media (min-width: 360px) {
  .header .header__account {
    max-width: 190px;
    min-width: 65px;
    padding-right: 36px;
    line-height: 32px;
  }
  .header .logo {
    justify-self: flex-end;
  }
}

@media (min-width: 480px) {
  .header .logo {
    justify-self: flex-start;
  }
  .header .header__account_l {
    display: none;
  }
  .header .header__account_s {
    display: inline-block;
  }
}

@media (min-width: 525px) {
  .header .header__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header .header__account_l {
    display: block;
  }
  .header .header__account_s {
    display: none;
  }
  .header .header__nav {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .header__browse {
    margin-left: 36px;
  }
  .header .header__top {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: minmax(170px, auto) minmax(410px, auto) 1fr minmax(190px, auto);
        grid-template: 1fr/minmax(170px, auto) minmax(410px, auto) 1fr minmax(190px, auto);
  }
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__form input {
  width: 100%;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-width: 1px 0 1px 0;
  padding: 0 17px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #a4a4a4;
  font-style: normal;
}

.header__search-btn {
  height: 38px;
  width: 35px;
  margin-right: 25px;
  background-color: #ffffff;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #a4a4a4;
  font-style: normal;
}

.header__search-btn:hover {
  cursor: pointer;
}

.header__right {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__account {
  display: inline-block;
  position: relative;
  max-width: 131px;
  height: 38px;
  padding-left: 20px;
  padding-right: 12px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #f16d7f;
  font-style: normal;
  font-size: 15px;
  line-height: calc(34 / 15 * 100%);
}

.header__account_l {
  display: none;
}

.header__account_s {
  display: inline-block;
  width: 70px;
  height: 35px;
  font-size: 24px;
  padding-left: 10px;
  padding-top: 3px;
  padding-right: 10px;
  line-height: 32px;
}

.header__nav {
  margin: 10px auto 10px;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: nav;
  min-width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list > *:not(:last-child) {
  padding-right: 22px;
}

.nav__item {
  padding-bottom: 10px;
  position: relative;
}

.nav__item:hover .nav__mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 32px;
}

.nav__item:hover:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 26px;
  left: 10px;
  z-index: 200;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  background-color: #fff;
  position: absolute;
  left: calc(auto - 10px);
}

.nav__link {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(26 / 14 * 100%);
  font-family: "Lato";
  color: #222222;
  text-transform: uppercase;
}

.nav__mega-menu {
  z-index: 120;
}

.menu {
  -webkit-box-shadow: 4px 14px 13px -2px rgba(0, 0, 0, 0.45);
          box-shadow: 4px 14px 13px -2px rgba(0, 0, 0, 0.45);
  background: #fff;
  display: none;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu:hover {
  display: block;
}

.menu__header {
  margin: 20px 20px 16px 20px;
  padding-bottom: 9px;
  display: block;
  border-bottom: 1px solid #e6e6e6;
}

.menu__link {
  padding: 0px 20px 0px 20px;
  line-height: 28px;
}

.browse {
  position: relative;
}

.browse__menu {
  top: 100%;
  left: 0;
  z-index: 120;
  display: block;
  max-height: 575px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 15px;
}

@media (min-width: 661px) {
  .browse__menu {
    min-width: 260px;
  }
}

.mm__box {
  max-width: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border: 1px solid #e6e6e6;
  max-height: 531px;
  min-width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
}

@media (min-width: 661px) {
  .mm__center {
    left: -300px;
  }
}

@media (min-width: 661px) {
  .mm__right {
    left: -400px;
  }
}

@media (min-width: 769px) {
  .mm__box {
    max-width: 850px;
  }
}

.mm__item {
  width: 100%;
  text-align: center;
}

@media (min-width: 661px) {
  .mm__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    text-align: left;
    max-width: 45%;
  }
}

.mm__img {
  width: 256px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.mm__img img {
  width: auto;
}

.mm__img p {
  padding-top: 62px;
  padding-bottom: 12px;
  position: relative;
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #fff;
  font-size: 22px;
  line-height: calc(28 / 22 * 100%);
  text-transform: uppercase;
  width: 50px;
  right: 85px;
  text-shadow: -8px 3px 20px black;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 381px;
}

.card__box {
  height: 100%;
}

.card__image {
  position: absolute;
}

.card__button {
  width: 100%;
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  color: #fff;
  display: none;
  border: 1px solid #fff;
  width: 123px;
  height: 39px;
  text-align: center;
  line-height: 39px;
  left: 70px;
  top: 110px;
}

.card__button:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.9);
          box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.9);
}

.card__name {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #222222;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
  padding-left: 15px;
}

.card__price {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #222222;
  font-style: normal;
  font-size: 120%;
  line-height: auto;
  color: #f16d7f;
  padding-left: 15px;
  margin-bottom: 20px;
}

.card:hover {
  -webkit-box-shadow: 4px 14px 13px -2px rgba(0, 0, 0, 0.45);
          box-shadow: 4px 14px 13px -2px rgba(0, 0, 0, 0.45);
}

.card:hover img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.card:hover .card__button {
  display: block;
  pointer-events: auto;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (0fr)[4];
  -ms-grid-columns: 1fr minmax(300px, 1140px) 1fr;
      grid-template: repeat(4, 0fr)/1fr minmax(300px, 1140px) 1fr;
      grid-template-areas: "banner banner banner" ". cat ." ". items ." ". feat .";
}

.main__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: banner;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(300px, 1140px) 1fr;
      grid-template: 1fr/1fr minmax(300px, 1140px) 1fr;
  background-color: #e8e8e8;
}

.main__category {
  margin-top: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cat;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-rows: (minmax(50px, 100%))[6];
  -ms-grid-columns: minmax(50px, 100%);
      grid-template: repeat(6, minmax(50px, 100%))/minmax(50px, 100%);
}

@media (min-width: 769px) {
  .main__category {
    margin-top: 50px;
    -ms-grid-rows: (minmax(50px, 100%))[3];
    -ms-grid-columns: (minmax(50px, 100%))[2];
        grid-template: repeat(3, minmax(50px, 100%))/repeat(2, minmax(50px, 100%));
  }
}

@media (min-width: 1024px) {
  .main__category {
    margin-top: 100px;
  }
}

.main__item {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: items;
  margin-top: 35px;
}

@media (min-width: 769px) {
  .main__item {
    margin-top: 50px;
    -ms-grid-rows: (minmax(50px, 100%))[3];
    -ms-grid-columns: (minmax(50px, 100%))[2];
        grid-template: repeat(3, minmax(50px, 100%))/repeat(2, minmax(50px, 100%));
  }
}

@media (min-width: 1024px) {
  .main__item {
    margin-top: 100px;
  }
}

.main__feature {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: feat;
  margin-top: 40px;
}

@media (min-width: 769px) {
  .main__feature {
    margin-top: 55px;
  }
}

@media (min-width: 1024px) {
  .main__feature {
    margin-top: 110px;
  }
}

.banner__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
}

.banner__box {
  width: 100%;
  position: relative;
  padding: 14% 0 21% 20px;
}

@media (min-width: 661px) {
  .banner__box {
    padding: 14% 0 21% 60px;
  }
}

.banner__header {
  position: relative;
  z-index: 100;
}

.banner__header_text {
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #222222;
  text-transform: uppercase;
  font-size: 20px;
}

@media (min-width: 481px) {
  .banner__header_text {
    font-size: 30px;
  }
  .banner__header h1 {
    font-size: 40px;
  }
}

@media (min-width: 769px) {
  .banner__header_text {
    font-size: 35px;
  }
  .banner__header h1 {
    font-size: 45px;
  }
}

@media (min-width: 1024px) {
  .banner__header_text {
    font-size: 40px;
  }
  .banner__header h1 {
    font-size: 60px;
  }
}

.banner__header:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #f16d7f;
  width: 1.3%;
  height: 96%;
  margin-left: -2.5%;
  margin-top: 0.6%;
}

.banner__image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -o-object-position: -16% 2%;
     object-position: -16% 2%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner__image img {
  -o-object-position: 18vw -11vw;
     object-position: 18vw -11vw;
}

@media (min-width: 480px) {
  .banner__image img {
    -o-object-position: 18vw -11vw;
       object-position: 18vw -11vw;
  }
}

@media (min-width: 1024px) {
  .banner__image img {
    -o-object-position: 230px -130px;
       object-position: 230px -130px;
  }
}

.category__item {
  position: relative;
  padding: 0px 0px 42% 0px;
}

.category__item_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.category__item_2 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.category__item_3 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.category__item_4 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.category__item_big {
  grid-row: span 2;
  padding: 0px 0px 90% 0px;
}

.category__item:hover {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.category__image {
  position: absolute;
}

.category__bage {
  background-color: #fff;
  position: absolute;
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #222222;
  font-size: 14px;
  text-transform: uppercase;
  padding: 17px 18px 16px 19px;
  bottom: 15px;
}

@media (min-width: 481px) {
  .category__bage {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .category__bage {
    bottom: auto;
    top: 25px;
  }
}

.category__bage span {
  font-size: 22px;
}

@media (min-width: 481px) {
  .category__bage span {
    font-size: 30px;
  }
}

.item__title {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(26 / 14 * 100%);
  font-family: "Lato";
  color: #222222;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}

.item__title p {
  text-transform: none;
  font-size: 14px;
  margin-top: 10px;
  color: #9f9f9f;
}

.item__gallery {
  margin-top: 20px;
}

@media (min-width: 769px) {
  .item__gallery {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .item__gallery {
    margin-top: 60px;
  }
}

.item__btn {
  display: block;
  width: 213px;
  height: 49px;
  text-align: center;
  margin: 25px auto 0;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #f16d7f;
  font-style: normal;
  font-size: 15px;
  line-height: calc(49 / 15 * 100%);
}

@media (min-width: 769px) {
  .item__btn {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .item__btn {
    margin-top: 60px;
  }
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  grid-gap: 37px 29px;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr;
  -ms-grid-columns: 1fr;
      grid-template: 0fr/1fr;
  height: 100%;
  padding-bottom: 100px;
}

.feature__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.feature__image {
  position: relative;
  width: 100%;
}

.feature__bage {
  padding-top: 240px;
  padding-bottom: 65px;
  max-width: 300px;
}

@media (min-width: 661px) {
  .feature__bage {
    padding-top: 290px;
  }
}

@media (min-width: 1024px) {
  .feature__bage {
    padding-top: 140px;
    padding-bottom: 300px;
    max-width: 300px;
  }
}

.feature__offer_2nd {
  font-size: 10px;
}

@media (min-width: 360px) {
  .feature__offer_2nd {
    font-size: 14px;
  }
}

@media (min-width: 481px) {
  .feature__offer_2nd {
    font-size: 20px;
  }
}

@media (min-width: 661px) {
  .feature__offer_2nd {
    font-size: 24px;
  }
}

@media (min-width: 769px) {
  .feature__offer_2nd {
    font-size: 32px;
  }
}

.feature__articles {
  z-index: 10;
  background: #000;
  padding: 20px 15px 0px 0px;
  max-width: 185px;
  position: relative;
}

@media (min-width: 661px) {
  .feature__articles {
    padding: 30px 40px 0px 35px;
    max-width: 373px;
  }
}

@media (min-width: 769px) {
  .feature__articles {
    padding: 48px 40px 0px 35px;
  }
}

@media (min-width: 1023px) {
  .feature__articles {
    padding: 56px 40px 0px 35px;
  }
}

.bage {
  position: absolute;
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  left: 3%;
}

@media (min-width: 360px) {
  .bage {
    font-size: 22px;
  }
}

@media (min-width: 481px) {
  .bage {
    font-size: 30px;
  }
}

@media (min-width: 661px) {
  .bage {
    font-size: 40px;
  }
}

@media (min-width: 769px) {
  .bage {
    font-size: 54px;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 661px) {
  .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.article__img {
  margin-bottom: 5px;
}

.article__img img {
  width: 30px;
}

@media (min-width: 661px) {
  .article__img img {
    max-width: 46px;
    max-height: 33px;
  }
}

.article__text {
  margin-bottom: 15px;
  padding-left: 20px;
}

@media (min-width: 661px) {
  .article__text {
    margin-bottom: 40px;
    padding-left: 35px;
  }
}

.article__text p {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(24 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato-L";
  color: #fbfbfb;
  font-style: normal;
  line-height: 14px;
  font-size: 10px;
  text-align: justify;
  margin-top: 6px;
}

@media (min-width: 661px) {
  .article__text p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: calc(24 / 14 * 100%);
    font-weight: 300;
    font-family: "Lato-L";
    color: #fbfbfb;
    font-style: normal;
    margin-top: 10px;
  }
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr 1fr 0fr;
      grid-template-rows: 0fr 1fr 0fr;
      grid-template-areas: "top" "mid" "bottom";
}

.footer__top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(300px, 1140px) 1fr;
      grid-template: 1fr/1fr minmax(300px, 1140px) 1fr;
  height: 440px;
  overflow: hidden;
  background-color: #eeeeee;
}

.top__background {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 661px) {
  .top__background {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 661px) {
  .top__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 769px) {
  .top__content {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.top__image {
  position: absolute;
  margin-top: -140px;
  left: -240px;
  opacity: 0.5;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.top__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top__subs {
  position: relative;
}

.top__c-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__mid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(300px, 1140px) 1fr;
      grid-template: 1fr/1fr minmax(300px, 1140px) 1fr;
  height: 100%;
}

.footer__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media (min-width: 481px) {
  .footer__content {
    margin-top: 40px;
  }
}

@media (min-width: 661px) {
  .footer__content {
    margin-top: 90px;
  }
}

@media (min-width: 1024px) {
  .footer__content {
    margin-top: 110px;
  }
}

.footer__bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bottom;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(300px, 1140px) 1fr;
      grid-template: 1fr/1fr minmax(300px, 1140px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #e6e6e6;
}

.bottom__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 481px) {
  .bottom__content {
    padding-top: 0;
  }
}

.bottom__rights {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #7a7a7a;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 481px) {
  .bottom__rights {
    font-size: 16px;
    line-height: calc(42 / 16 * 100%);
  }
}

.bottom__social button {
  margin: 3px;
  height: 20px;
  width: 20px;
}

@media (min-width: 481px) {
  .bottom__social button {
    height: 30px;
    width: 30px;
  }
}

.c-page {
  margin-top: 30px;
  margin-left: 72px;
  position: relative;
  padding: 10px;
}

@media (min-width: 661px) {
  .c-page {
    margin-top: 70px;
  }
}

.c-page:hover .c-page__item_selected:hover {
  background-color: #f16d7f;
}

.c-page:hover .c-page__item_selected {
  background-color: #d6d6d6;
}

.c-page__item {
  width: 40px;
  height: 4px;
  margin: 12px;
  background-color: #d6d6d6;
}

.c-page__item_selected {
  background-color: #f16d7f;
}

.c-page__item:hover {
  background-color: #f16d7f;
  cursor: pointer;
}

.comment__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__image {
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.comment__text {
  max-width: 386px;
  font-size: 16px;
  line-height: calc(26 / 16 * 100%);
  letter-spacing: 0px;
  font-family: "Lato-I";
  font-weight: 400;
  color: #222222;
  font-size: 14px;
  margin-left: 20px;
}

@media (min-width: 360px) {
  .comment__text {
    margin-left: 28px;
    font-size: 16px;
  }
}

.comment__sign {
  margin-top: 19px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(24 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato-L";
  color: #222222;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.comment__sign span {
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato-B";
  color: #f16d7f;
  font-size: 16px;
}

.subs {
  text-transform: uppercase;
}

.subs__text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #222222;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.subs__text span {
  font-size: 24px;
}

.subs__form {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subs__form input {
  max-width: 170px;
  width: 100%;
  height: 46px;
  border-radius: 25px 0 0 25px;
  padding: 0 25px;
}

@media (min-width: 769px) {
  .subs__form input {
    width: 285px;
  }
}

.subs__form button {
  border-radius: 0 25px 25px 0;
  min-width: 105px;
}

.mid__logo {
  position: absolute;
}

.mid__description {
  margin-top: 45px;
  max-width: 430px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #898989;
  font-style: normal;
  line-height: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.mid__description p {
  margin-top: 30px;
}

.mid__nav {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 610px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.mid__title {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(26 / 14 * 100%);
  font-family: "Lato";
  color: #f16d7f;
  font-size: 16px;
  line-height: calc 150%;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .mid__title {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .mid__title {
    font-size: 18px;
    line-height: calc 144.44444%;
  }
}

.mid__list {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: calc(36 / 14 * 100%);
  font-weight: 300;
  font-family: "Lato";
  color: #898989;
  font-style: normal;
  margin-top: 10px;
  line-height: 26px;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .mid__list {
    font-size: 16px;
    line-height: 55px;
    margin-top: 30px;
  }
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-B;
  src: url("../fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: Lato-L;
  src: url("../fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-I;
  src: url("../fonts/Lato/Lato-Italic.ttf");
}
