
.basket {
    padding: 20px 0px;
    position: relative;

    &__image {
        width: 32px;
        height: 29px;
        margin-right: 25px;
    }

    &__cart-menu:hover .cart-menu {
        display: block;
    }
    &__productCounter {
        background-color: #f16d7f;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        right: 15px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__productCounter span{
        @include lato-300(#fff);
        font-size: 12px;
    }
}

.basket:hover .cart-menu {
    display: block;
}



.cart-menu {
	display: none;
	z-index: 200;
	position: absolute;
	border-radius: 5px;
	border: $_border_1;
	background-color: #fff;
	top: 65px;
	right: $_cart-menu-width / 8;
	width: $_cart-menu-width;
		&__box {
			padding: 15px;
		}

		&__items {
			margin-top: -15px;
		}
		
		&__item {
			display: flex;
			align-items: center;
			padding: 15px 0px 30px 0;
			border-bottom: $_border_1;
			margin: 15px 0;
		}
		&__item:hover p{
			color: #f16d7f;
		}
		&__link {
			display: flex;
			width: 100%;
		}

		&__left {
			width: 100%;
			// margin: -30px;
		}
		&__left img{
			// object-fit: none;
            object-position: top;
		}

		&__mid {
			width: 100%;
			padding: 0px 0px 10px 15px;
		}
		&__mid p{
			@include Lato-B(#222222);
			font-size: 12px;
			line-height: calc(10 / 12 * 100%);
			text-transform: uppercase;
		}

		&__rate {
			display: inline-block;
			font-size: 0;
			margin: 10px 0;
			
		}
		&__rate span {
			padding: 0;
			font-size: 11px;
			line-height: 1;
			color: lightgrey;
		}
		&__rate > span:before {
			content: '★';
		}
		&__rate > span.active {
			color: gold;
		}

		&__price {
			@include lato-300(#f16d7f);
			font-size: 12px;
			line-height: calc(10 / 12 * 100%);
		}

		&__right {
		}

		&__sum {
			@include Lato-B(#222222);
			font-size: 16px;

			display: flex;
			justify-content: space-between;
		}

		&__btns {
			margin-top: 31px;
		}
}
.cart-menu::before{
    content: "";
    display: block;
    width:  15px;
    height: 15px;
    top: -8px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
    position: absolute;
    right: $_cart-menu-width / 4;
}

@media (min-width: 768px){
	.cart-menu::before{
		right: $_cart-menu-width / 2;
	}
}
.carted {

		&__btn-links {
		}
}
.btns {

		&__item {
			@include lato-700(#222222);
			height: 50px;
			max-width: 225px;
			text-align: center;
			line-height: calc(16 / 14 * 100%);
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			margin-bottom: 10px;
			padding: 10px 5px;
		}
}
.btn_red-cart{
	color: #f16d7f;
	border: 1px solid rgb(241, 109, 127);
	transition: ease color, border 0.9s;
}

.btn_red-cart:not(:hover) {
	background: #fff;
	color: #a4a4a4;
	border: $_border_1;
	transition: ease color, border 1.9s;
}