.card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 381px;

		&__link {
            // display: block;
            
		}
        &__box {
            height: 100%;
        }
        &__image {
            position: absolute;
        }
        
		&__button {
            width: 100%;
            position: absolute;
            top: 30%;
            display: flex;
            justify-content: center;
            pointer-events: none;
            color: #fff;
            display: none;
            border: 1px solid #fff;
            width: 123px;
            height: 39px;
            text-align: center;
            line-height: 39px;
            left: 70px;
            top: 110px;
		}
        
        &__button:hover {
            box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.9);
        }

		&__name {
            margin-top: 20px;
            @include lato-300(#222222);
            line-height: 120%;
            text-transform: uppercase;
            padding-left: 15px;
		}
        
		&__price {
            @include lato-300(#222222);
            font-size: 120%;
            line-height: auto;
            color: $_red;
            padding-left: 15px;
            margin-bottom: 20px;
		}
}

.card:hover {
    box-shadow: 4px 14px 13px -2px rgba(0, 0, 0, 0.45);
}
.card:hover img{
    filter: brightness(30%);
}
.card:hover .card__button{
    display: block;
    pointer-events: auto;
}