

.footer {

    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-areas: "top"
                         "mid"
                         "bottom";
    
    &_subscribe-text {
    }
    
    &__top {
        grid-area: top;
        display: grid;
        grid-template: 1fr / 1fr minmax(300px, $_site-width) 1fr;
        height: 440px;
        overflow: hidden;
        background-color: rgb(238,238,238);
    }
}
.top {
    &__background {
        position: relative;
        // width: $_site-width;
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (min-width:661px){
        &__background{
            justify-content: space-between;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @media (min-width:661px){
        &__content{
            display: flex;
            align-items: center;
            flex-direction: row;
        }
    }
    @media (min-width:769px){
        &__content {
            width: 100%;
            justify-content: space-between;
        }
    }
    &__image {
        position: absolute;
        margin-top: -140px;
        left: -240px;
        opacity: 0.5;
        align-self: flex-start;
    }
    &__comment {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    &__subs {
        position: relative;
    }

    &__form {
    }

    &__c-pages {
        display: flex;
    }
}
.footer{
    &__mid {
        grid-area: mid;
        display: grid;
        grid-template: 1fr / 1fr minmax(300px, $_site-width) 1fr;
        height: 100%;
    }
    
    &__content {
        grid-column: 2/3;
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 20px;
    }
    @media (min-width: 481px){
        &__content {
            margin-top: 40px;
        }
    }
    @media (min-width: 661px){
        &__content {
            margin-top: 90px;
        }
    }
    @media (min-width: 1024px){
        &__content {
            margin-top: 110px;
        }
    }
    &__bottom {
        grid-area: bottom;
        display: grid;
        grid-template: 1fr / 1fr minmax(300px, $_site-width) 1fr;
        align-items: center;
        height: 80px;
        background-color: #e6e6e6;
    }

}
.bottom {
    &__content {
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    @media (min-width: 481px){
        &__content {
            padding-top: 0;
        }
    }
    &__rights {
        @include lato-300(#7a7a7a);
        font-size: 12px;
        line-height: 16px;
    }
    @media (min-width: 481px){
        &__rights {
            font-size: 16px;
            line-height: calc(42 / 16 * 100%);
        }
    }
    &__social {

    }
    &__social button{
        margin: 3px;
        height: 20px;
        width: 20px;
    }
    @media (min-width:481px){
        &__social button {
        height: 30px;
        width: 30px;
        }
  }
}
.c-page {
    margin-top: 30px;
    margin-left: 72px;
    position: relative;
    padding: 10px;
    @media (min-width:661px){
            margin-top: 70px;
    }
    &:hover &__item_selected:hover{
        background-color: $_red;
    }
    &:hover &__item_selected{
        background-color: #d6d6d6;
    }

    &__item {
        width: 40px;
        height: 4px;
        margin: 12px;
        background-color: #d6d6d6;

        &_selected {
            background-color: $_red;
        }
    }

    &__item:hover {
        background-color: $_red;
        cursor: pointer;
    }
}

.comment {
    &__box{
        display: flex;
    }

    &__image {
        height: 80px;
        min-width: 80px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__text {
        max-width: 386px;
        @include Lato-I(#222222);
        font-size: 14px;
        margin-left: 20px;
    }
    @media(min-width:360px){
        &__text {
            margin-left: 28px;
            font-size: 16px;
        }
    }
    &__sign {
        margin-top: 19px;
        @include Lato-L(#222222);
        font-size: 12px;
        line-height: 14px;
    }
    &__sign span{
        @include Lato-B(#f16d7f);
        font-size: 16px;
    }
}

.subs {
    text-transform: uppercase;

    &__text {
        @include lato-300 (#222222);
        line-height: 24px;
        text-align: center;
    }
    &__text span{
        font-size: 24px;
    }

    &__form {
        margin-top: 34px;
        display: flex;
    }
    &__form input{
        max-width: 170px;
        width: 100%;
        height: 46px;
        border-radius: 25px 0 0 25px;
        padding: 0 25px;
    }

    @media (min-width:769px){
        &__form input{
            width: 285px;
        }
    }

    &__form button {
        border-radius: 0 25px 25px 0;
        min-width: 105px;
    }
}
.mid {

    &__logo {
        position: absolute;
    }
    
    &__description {
        margin-top: 45px;
        max-width: 430px;
        @include lato-300(#898989);
        line-height: 24px;
        flex: 1 1 0;
    }
    &__description p{
        margin-top: 30px;
    }

    &__nav {
        margin-left: 64px;
        display: flex;
        max-width: 610px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 1 0;
    }

    &__menu {
    }
    
    &__title {
        @include lato-700($_red);
        font-size: 16px;
        line-height: calc (24 / 16 * 100%);
        margin-top: 20px;
    }
    @media (min-width:1024px){
        &__title {
            margin-top: 0;
        }
    }
    @media (min-width:1024px){
        &__title {
            font-size: 18px;
            line-height: calc (26 / 18 * 100%);
        }
    }
    &__list {
        @include lato-300(#898989);
        margin-top: 10px;
        line-height: 26px;
        font-size: 14px;
    }
    
    @media (min-width:1024px){
        &__list{
            font-size: 16px;
            line-height: 55px;
            margin-top: 30px;
        }
    }
    
    &__link {
        
    }
}

