@import "_basket";

.header {
    padding-top: 25px;
    display: grid;
    grid-template: 0fr minmax(52px, 1fr) / 1fr minmax(300px, $_site-width) 1fr;
    grid-template-areas: ". top ."
                         ". nav .";
    align-items: center;
		
    	&__top {
            display: grid;
            grid-template: 1fr / minmax(60px, auto) minmax(0fr, auto) 1fr minmax(70px,auto);
			justify-items: center;
            align-items: center;
            grid-column: 2/3;
            grid-area: top;
        }

		&__logo {
            align-items: center;
		}

	
		&__center {
			display: none;
			align-items: center;
			width: 100%;
		}

		summary {
			@include lato-700(#222222);
			font-size: 16px;
			line-height: calc(36 / 16 * 100%);
			// display: block;
			cursor: pointer;
			direction: rtl;

		}
		summary::marker {
			display: none;
			color: #4e4e4e;
		}



		&__browse {
			display: block;
			// width: 117px;
			width: 147px;
			height: 38px;
			border-radius: 3px 0 0 3px;
			background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
			border: $_border_1;
			padding: 0 13px 0 13px;
			margin-left: 15px;
			@include lato-300(#222222);
			position: relative;
		}
		// &__browse::after {
        //     @include dwn_list(#6e6e6e);
		// 	pointer-events: none;
		// }
		
		@media (min-width: 360px){

			.header__account {
				max-width: 190px;
				min-width: 65px;
				padding-right: 36px;
				line-height: 32px;
			}
			.logo {
				justify-self: flex-end;
			}
		}
		@media (min-width: 480px){
			.logo {
				justify-self: flex-start;
			}
			.header__account_l {
				display: none;
			}
			.header__account_s {
				display: inline-block;
			}
		}
		@media (min-width: 525px){
			.header__center {
				display: flex;
			}
		}
		@media (min-width: 768px){
			.header__account_l {
				display: block;
			}
			.header__account_s {
				display: none;
			}
			.header__nav {
				margin-top: 20px;
			}
		}
		@media (min-width: 1024px){
			&__browse{
				margin-left: 36px;
			}
			.header__top {
				grid-template: 1fr / minmax(170px, auto) minmax(410px, auto) 1fr minmax(190px,auto);
			}
		}
		&__form {
			display: flex;
			align-items: center;
			width: 100%;
		}

		&__form input{
			width: 100%;
			height: 38px;
			background-color: #ffffff;
			border: $_border_1;
			border-width: 1px 0 1px 0;
			padding: 0 17px;
			@include lato-300(#a4a4a4);
		}
		
		&__search-btn {
			height: 38px;
			width: 35px;
			margin-right: 25px;
			background-color: #ffffff;
			border-radius: 0 3px 3px 0;
			border: $_border_1;

			@include lato-300(#a4a4a4);
		}
		
		&__search-btn:hover{
			cursor: pointer;
		}

		&__right {
            grid-column: 4/5;
			display: flex;
			align-items: center;
			position: relative;
		}

		&__account {
            display: inline-block;
            position: relative;
			max-width: 131px;
			height: 38px;
			padding-left: 20px;
            padding-right: 12px;
			@include lato-300($_red);
			font-size: 15px;
			line-height: calc(34 / 15 * 100%);
		}
		&__account_l{
			display: none;
		}
		&__account_s{
			display: inline-block;
			width: 70px;
			height: 35px;
			font-size: 24px;
			padding-left: 10px;
			padding-top: 3px;
			padding-right: 10px;
			line-height: 32px;
		}
		&__nav {
            margin: 10px auto 10px;

		}
	}
	
	.nav {
	grid-area: nav;
	min-width: 52%;
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;

	&__list {
		display: flex;
		justify-items: center;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		justify-content: center;
	}
	
	&__list > *:not(:last-child){
		padding-right: 22px;
	}
	&__item {
		padding-bottom: 10px;
		position: relative;
	}
	&__item:hover .nav__mega-menu{
		display: flex;
		top: 32px;
	}
	&__item:hover:after {
		content: "";
		display: block;
		width:  15px;
		height: 15px;
		top: 26px;
		left: 10px;
		z-index: 200;
		transform: rotate(45deg);
		border-left: 1px solid #e8e8e8;
		border-top: 1px solid #e8e8e8;
		background-color: #fff;
		position: absolute;
		left: calc(auto - 10px);
	}
	&__item:first-child:hover::after {
		// left: 50px;
	}
	
	@media (min-width: 769px){
		&__item:first-child:hover::after {
			// left: 130px;
		}
	}
	@media (min-width: 769px){
		&__item:hover:after {
			// left: auto;
		}
	}
	@media (min-width: 800px){
		&__item:first-child:hover::after {
			// left: auto;
		}
	}
	&__link {
		@include lato-700(#222222);
		text-transform: uppercase;
	}
	&__mega-menu {
		z-index: 120;
	}
}



.menu {
	box-shadow: 4px 14px 13px -2px rgba(0, 0, 0, 0.45);
	background: #fff;
	display: none;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 5px;
	flex-wrap: wrap;
	
	&:hover {
		display: block;
	}

	&__header {
		margin: 20px 20px 16px 20px;
		padding-bottom: 9px;
		display: block;
		border-bottom: $_border_1;
	}
	&__link {
		padding: 0px 20px 0px 20px;
		line-height: 28px;
	}
}
.browse {
	position: relative;
	&__menu {
		top: 100%;
		left: 0;
		z-index: 120;
		display: block;
		max-height: 575px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-bottom: 15px;
	}
	@media (min-width:661px){
		&__menu{
			min-width: 260px;
		}
	}
	
}


// *****  MEGA MENU*******************************************************************************


.mm {

	&__box {
		max-width: 230px;
		justify-content: space-between;
		padding-bottom: 20px;
		border: $_border_1;
		max-height: 531px;
		min-width: 190px;
		display: flex;
		max-width: 80%;

	}
	&__center{	

	}
	@media (min-width:661px){
		&__center{	
			left: -300px;
		}
	}
	@media (min-width:661px){
		&__right{	
			left: -400px;
		}
	}

	@media (min-width: 769px){
		&__box{
			max-width: 850px;
			// left: 15%;
		}
	}

	&__item {
		width: 100%;
    	text-align: center;
	}
	@media (min-width: 661px){
		&__item {
			flex: 1 1 0;
			text-align: left;
			max-width: 45%;
		}
	}
	&__heading {
	}

	&__link {
	}

	&__img {
		width: 256px;
		margin: 0 20px;
		display: flex;
		justify-content: end;
	}

	&__img img{
		width: auto;
	}

	&__img p{
		padding-top: 62px;
		padding-bottom: 12px;
		position: relative;
		@include Lato-B(#fff);
		font-size: 22px;
		line-height: calc(28 / 22 * 100%);
		text-transform: uppercase;
		width: 50px;
		right: 85px;
		text-shadow: -8px 3px 20px black;
	}
}

// *****CART*********************************************************** 


.cart-menu {
	display: none;
	z-index: 200;
	position: absolute;
	border-radius: 5px;
	border: $_border_1;
	background-color: #fff;
	top: 65px;
	right: $_cart-menu-width / 8;
	width: $_cart-menu-width;
		&__box {
			padding: 15px;
		}

		&__items {
			margin-top: -15px;
		}
		
		&__item {
			display: flex;
			align-items: center;
			padding: 15px 0px 30px 0;
			border-bottom: $_border_1;
			margin: 15px 0;
		}
		&__item:hover p{
			color: #f16d7f;
		}
		&__link {
			display: flex;
			width: 100%;
		}

		&__left {
			width: 100%;
			margin: -30px;
		}
		&__left img{
			object-fit: none;
		}

		&__mid {
			width: 100%;
			padding: 0px 0px 10px 15px;
		}
		&__mid p{
			@include Lato-B(#222222);
			font-size: 12px;
			line-height: calc(10 / 12 * 100%);
			text-transform: uppercase;
		}

		&__rate {
			display: inline-block;
			font-size: 0;
			margin: 10px 0;
			
		}
		&__rate span {
			padding: 0;
			font-size: 11px;
			line-height: 1;
			color: lightgrey;
		}
		&__rate > span:before {
			content: '★';
		}
		&__rate > span.active {
			color: gold;
		}

		&__price {
			@include lato-300(#f16d7f);
			font-size: 12px;
			line-height: calc(10 / 12 * 100%);
		}

		&__right {
		}

		&__sum {
			@include Lato-B(#222222);
			font-size: 16px;

			display: flex;
			justify-content: space-between;
		}

		&__btns {
			margin-top: 31px;
		}
}
.cart-menu::before{
    content: "";
    display: block;
    width:  15px;
    height: 15px;
    top: -8px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
    position: absolute;
    right: $_cart-menu-width / 4;
}

@media (min-width: 768px){
	.cart-menu::before{
		right: $_cart-menu-width / 2;
	}
}
.carted {

		&__btn-links {
		}
}
.btns {

		&__item {
			@include lato-700(#222222);
			height: 50px;
			max-width: 225px;
			text-align: center;
			line-height: calc(16 / 14 * 100%);
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			margin-bottom: 10px;
			padding: 10px 5px;
		}
}
.btn_red-cart{
	color: #f16d7f;
	border: 1px solid rgb(241, 109, 127);
	transition: ease color, border 0.9s;
}

.btn_red-cart:not(:hover) {
	background: #fff;
	color: #a4a4a4;
	border: $_border_1;
	transition: ease color, border 1.9s;
}

// **************************************************************** 