
.main {
    display: grid;
    grid-template: repeat(4, 0fr) / 1fr minmax(300px, $_site-width) 1fr;
    grid-template-areas: "banner banner banner"
                         ". cat ."
                         ". items ."
                         ". feat .";

		&__banner {
            grid-area: banner;
            display: grid;
            grid-template: 1fr / 1fr minmax(300px, $_site-width) 1fr;
            background-color: #e8e8e8;
		}

		&__category {
            margin-top: 20px;
            grid-area: cat;
            display: grid;
            grid-gap: 20px;
            grid-template: repeat(6, minmax(50px, 100%)) / minmax(50px, 100%);
		}
        @media (min-width:769px){
            &__category {
                margin-top: 50px;
                grid-template: repeat(3, minmax(50px, 100%)) / repeat(2, minmax(50px, 100%));
            }
        }
        @media (min-width:1024px){
            &__category {
                margin-top: 100px;
            }
        }
		&__item {
            grid-area: items;
            margin-top: 35px;
		}
        @media (min-width:769px){
            &__item {
                margin-top: 50px;
                grid-template: repeat(3, minmax(50px, 100%)) / repeat(2, minmax(50px, 100%));
            }
        }
        @media (min-width:1024px){
            &__item {
                margin-top: 100px;
            }
        }
		&__feature {
            grid-area: feat;
            margin-top: 40px;
		}
        @media (min-width:769px){
            &__feature {
                margin-top: 55px;
            }
        }
        @media (min-width:1024px){
            &__feature {
                margin-top: 110px;
            }
        }
}
.banner__container{
    grid-column: 2/3;
    position: relative;

}

.banner {

        &__box {
        width: 100%;
        position: relative;
        padding: 14% 0 21% 20px;
    }
		&__header {
            position: relative;
            z-index: 100;
			&_text {
                @include Lato-B(#222222);
                text-transform: uppercase;
                font-size: 20px;
			}
            @media (min-width: 481px){
                &_text {
                    font-size: 30px;
                }
                & h1{
                    font-size: 40px;
                }
            }
            @media (min-width: 769px){
                &_text {
                    font-size: 35px;
                }
                & h1{
                    font-size: 45px;
                }
            }
            @media (min-width: 1024px){
                &_text {
                    font-size: 40px;
                }
                & h1{
                    font-size: 60px;
                }
            }
		}
        &__header:before {
            content: "";
            display: inline-block;
            position: absolute;
            background-color: $_red;
            width: 1.3%;
            height: 96%;
            margin-left: -2.5%;
            margin-top: 0.6%;
        }

		&__image {
            grid-column: 2/3;
            object-position: -16% 2%;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
		}

        &__image img{
            object-position: 18vw -11vw;
        }
        
        @media (min-width: 480px){
            &__image img{
                object-position: 18vw -11vw;
            }
        }
        @media (min-width: 1024px){
            &__image img{
                object-position: 230px -130px;
            }
        }
}
.category {
    
		&__item {
            position: relative;
            padding: 0px 0px 42% 0px;
            &_1 {
                order: 1;
            }
            &_2 {
                order: 3;
            }
            
            &_3 {
                order: 4;
            }

            &_4 {
                order: 2;
            }
            
             &_big {
                grid-row: span 2;
                padding: 0px 0px 90% 0px;
            }

		}

		&__image {
            position: absolute;
		}

		&__bage {
            background-color: #fff;
            position: absolute;
            @include Lato-B(#222222);
            font-size: 14px;
            text-transform: uppercase;
            padding: 17px 18px 16px 19px;
            bottom: 15px;
		}
        @media (min-width: 481px){
            &__bage {
                font-size: 18px;
            }
        }
        @media (min-width: 1024px){
            &__bage {
                bottom: auto;
                top: 25px;
            }
        }
        &__bage span {
            font-size: 22px;
        }
        @media (min-width: 481px){
            &__bage span{
                font-size: 30px;
            }
        }
}
.item {
    
    &__title {
            @include lato-700(#222222);
            font-size: 30px;
            text-transform: capitalize;
            text-align: center;
		}

        &__title p{
            text-transform: none;
            font-size: 14px;
            margin-top: 10px;
            color: #9f9f9f;
        }

		&__gallery {
            margin-top: 20px;
		}
        @media (min-width:769px){
            &__gallery {
                margin-top: 30px;
            }
        }
        @media (min-width:1024px){
            &__gallery {
                margin-top: 60px;
            }
        }
		&__btn {
            display: block;
            width: 213px;
            height: 49px;
            text-align: center;
            margin: 25px auto 0;
            @include lato-300($_red);
			font-size: 15px;
			line-height: calc(49 / 15 * 100%);
		}
        @media (min-width:769px){
            &__btn {
                margin-top: 30px;
            }
        }
        @media (min-width:1024px){
            &__btn {
                margin-top: 60px;
            }
        }
}
.gallery {
    &__items {
            display: grid;
            grid-gap: 37px 29px;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		}

		&__card:hover {
            box-shadow: 4px 14px 13px -2px rgba(0, 0, 0, 0.45);
		}
		&__card:hover img{
            filter: brightness(30%);
		}
        &__card:hover .card__btn{
            display: block;
            pointer-events: auto;
        }
}
.card {
    position: relative;

		&__link {
            display: block;
            position: relative;
            overflow: hidden;
            height: 281px;
		}

        &__image {
            position: absolute;
        }
        
		&__button {
            width: 100%;
            position: absolute;
            top: 30%;
            display: flex;
            justify-content: center;
            pointer-events: none;
            color: #fff;
		}
        
        &__btn {
            display: none;
            border: 1px solid #fff;
            width: 123px;
            height: 39px;
            text-align: center;
            line-height: 39px;
        }
        &__btn:hover {
            box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.9);
        }

		&__description {
            margin-top: 20px;
            @include lato-300(#222222);
            line-height: 120%;
            text-transform: uppercase;
            padding-left: 15px;
		}
        
		&__price {
            @include lato-300(#222222);
            font-size: 120%;
            line-height: auto;
            color: $_red;
            padding-left: 15px;
            margin-bottom: 20px;
		}
}
.fa {
}
.fa-solid {
}
.fa-basket-shopping {
}

.feature {
    display: grid;
    grid-template: 0fr/1fr;
    height: 100%;
    padding-bottom: 100px;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    &__image {
        position: relative;
        width: 100%;
    }

    &__bage {
        padding-top: 240px;
        padding-bottom: 65px;
        max-width: 300px;
    }
    @media (min-width:661px){
        &__bage{
            padding-top: 290px;
        }
    }

    @media (min-width: 1024px) {
        &__bage{
            padding-top: 140px;
            padding-bottom: 300px;
            max-width: 300px;
        }
    }

    &__offer {

        &_2nd {
            font-size: 10px;
        }
        @media (min-width:360px){
            &_2nd {
                font-size: 14px;
            }
        }
        @media (min-width:481px){
            &_2nd {
                font-size: 20px;
            }
        }
        @media (min-width:661px){
            &_2nd {
                font-size: 24px;
            }
        }
        @media (min-width:769px){
            &_2nd {
                font-size: 32px;
            }
        }
    }

    &__articles {
        z-index: 10;
        background: #000;
        padding: 20px 15px 0px 0px;
        max-width: 185px;
        position: relative;
    }
    @media (min-width:661px){
        &__articles {
            padding: 30px 40px 0px 35px;
            max-width: 373px;
        }
    }
    @media (min-width:769px){
        &__articles {
            padding: 48px 40px 0px 35px;
        }
    }
    @media (min-width:1023px){
        &__articles {
            padding: 56px 40px 0px 35px;
        }
    }
    &__article {
    }
}

.bage {
    position: absolute;
    @include Lato-B(#fff);
    font-size: 16px;
    text-transform: uppercase;
    left: 3%;
    @media (min-width:360px){
            font-size: 22px;
    }
    @media (min-width:481px){
            font-size: 30px;
    }
    @media (min-width:661px){
            font-size: 40px;
    }
    @media (min-width:769px){
            font-size: 54px;
    }
}
.red {
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:661px){
        flex-direction: row;
        align-items: start;
    }

    &__img {
        margin-bottom: 5px;
    }
    &__img img {
        width: 30px;
    }
    @media (min-width:661px){
        &__img img {
            max-width: 46px;
            max-height: 33px;
        }
    }
    &__text {
        margin-bottom: 15px;
        padding-left: 20px;
    }
    @media (min-width:661px){
        &__text {
            margin-bottom: 40px;
            padding-left: 35px;
        }
    }
    &__text p{
        @include Lato-L(#fbfbfb);
        line-height: 14px;
        font-size: 10px;
        text-align: justify;
        margin-top: 6px;
        
    }
    @media (min-width:661px){
        &__text p{
            @include Lato-L(#fbfbfb);
            margin-top: 10px;
        }
    }
}
