@import "_param";


.main {
  display: grid;
  grid-template:  0fr 0fr / 1fr minmax(300px, $_site-width) 1fr;
  grid-template-areas: "slider slider slider"
                       ". content ."
}
.slider {
    grid-area: slider;
    background-color: #e8e8e8;
    display: grid;
    grid-template:  0fr / 1fr minmax(300px, $_site-width) 1fr;
    align-content: center;
  }
  .content {
    grid-area: content;
  }
  .container {
    grid-column: 2/3;
  }
h3{
    font-size: 13px;
    color: #222222;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 15px;
    margin-top: 33px;
}
.co_slider{
    /* display: flex;
    align-items: center; */
    height: 150px;
}

.co_slider_content {
    display: flex;
    justify-content: space-between;
}

.co_slider_text{
    font-size: 24px;
    line-height: 20px;
    color: #f16d7f;
    font-weight: 900;
    font-family: "Lato";
    text-transform: uppercase;
}

.bread_crumps a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #636363;
    font-weight: 300;
    font-family: "Lato";
}

.bread_crumps a:hover {
    color: #f16d7f;
}

.co_list{
    margin: 90px auto;
    
}

summary {
    display: block;
    font-size: 16px;
    color: #222222;
    font-weight: 700;
    font-family: "Lato";
    cursor: pointer;
}

summary:hover {
    color: #ff0d0d;
}

summary::-webkit-details-marker {
    display: none;
}

.co_list_title {
    font-size: 16px;
    color: #222222;
    font-weight: 700;
    font-family: "Lato";
    text-transform: uppercase;
    padding-bottom: 33px;
    padding-top: 33px;
    border-bottom: 1px solid #e8e8e8;
}

.co_form {
    margin-top: 39px;
    display: flex;
}

.co_form_l {
    margin-left: 35px;
    margin-bottom: 80px;

    font-size: 13px;
    color: #222222;
    font-weight: 400;
    font-family: "Lato";
}

.co_form_l p {
    margin: 15px auto;
}

.co_form_p{
    font-size: 13px;
    line-height: 20px;
    color: #b3b2b2;
    font-weight: 400;
    font-family: "Lato";
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 34px;
}

#chk_bx {
    transform: scale(1.5);
    margin-right: 15px;
}

.co_form_label {
    height: 27px;
    cursor: pointer;
}

.co_form_l_rb {
    font-size: 12px;
    color: #222222;
    font-weight: 400;
    font-family: "Lato";
    text-transform: uppercase;
}

.co_form_l_rb span{
    color: #ff0d0d;
}

.co_form_l_rb_box {
    height: 40px;
    display: flex;
    align-items: center;
}

.co_form_l_btn{
    font-size: 14px;
    // color: #4a4a4a;
    font-weight: 700;
    font-family: "Lato";
    text-transform: uppercase;

    margin: 37px 37px 0 0;
    width: 180px;
    height: 50px;
    background-color: #ffffff;
    // border: 1px solid #eaeaea;
}

.co_form_r {
    margin-left: 290px;
}

.co_form_r_text{
    width: 390px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.co_form_r_h3 {
    text-transform: none;
    color: #ff0d0d;
}

.co_form_r_forgot{
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    font-weight: 400;
    font-family: "Lato";
    text-transform: none;
    display: inline;
    text-decoration: none;
}