@import "_param";
@import "_mixins";

body{

}

h1 {
	@include Lato-B(#222222);
	font-size: 25px;
	text-transform: uppercase;
}
h3 {
	@include lato-300(#fff);
	font-size: 16px;
	line-height: calc(20 / 16 * 100%);
}
@media (min-width:661px){
	h3 {
		font-size: 20px;
		line-height: calc(36 / 20 * 100%);
	}
}
h4 {
	@include lato-300(#222222);
	line-height: calc(32 / 14 * 100%);
	text-transform: uppercase;
}
._ibg {
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.hidden {
	display: none !important;
}
.wrapper {
    height: 100vh;
    display: grid;
	padding: 0 15px;
	box-sizing: content-box;
    grid-template: 1fr 1fr minmax(975px, auto) / 1fr;
} 
.red {
	color: $_red;;
}
.bold {
	font-weight: 900;
	@include Lato-B($_red);
}
.link:hover {
	color: $_red;
}

.btn_red{
	background: #fff;
	color: rgb(241, 109, 127);
	border: none;
	border: 1px solid rgb(241, 109, 127);
	transition: ease color, background 0.9s;
}

.btn_red:not(:hover) {
	background: #f16d7f;
	color: white;
	transition: ease color, background 1.9s;
}

.btn_red-social{
	background: #f16d7f;
	color: white;
	border: none;
	transition: ease color, background 0.9s;
}
.btn_red-social:not(:hover) {
	background: #fff;
	color: rgb(178,178,178);
	transition: ease color, background 1.9s;
}
.btn_red-social:active:hover {
	background: rgb(238, 238, 238);
	color: rgb(214, 214, 214);
}


.list_dwn::after{
	@include dwn_list(#fff);
	right: 15px;
}
.list_dwn:hover::after{
	@include dwn_list($_red);
	right: 15px;
}

.logo {
	display: flex;
}
.logo img {
	width: 59px;
	height: fit-content;
	margin-right: 8px;
}
.logo p {
	display: inline-block;
	margin-top: 7px;
	text-transform: uppercase;
	@include lato-300(#222222);
	font-size: 27px;
	letter-spacing: 1px;
	line-height: 32px;
}



@import "_header";
@import "_main";
@import "_footer";


@font-face {
	font-family: Lato;
	src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
	font-family: Lato-B;
	src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
	font-family: Lato-L;
	src: url("../fonts/Lato/Lato-Light.ttf");
}
@font-face {
	font-family: Lato-I;
	src: url("../fonts/Lato/Lato-Italic.ttf");
}

